html{
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
	padding: 0;
	background-color: #f4f2ee;
}


header {
	width:100%; /* Establecemos que el header abarque el 100% del documento */
	overflow:hidden; /* Eliminamos errores de float */
	background: #ffff;
	margin-bottom:20px;
}

header nav{
    float:right;
	line-height:20px;
}

.menu_container {
	
	width:100%; /* Establecemos que el ancho sera del 90% */
	max-width:1000px; /* Aqui le decimos que el ancho máximo sera de 1000px */
	margin:auto; /* Centramos los elementos */
	overflow:hidden; /* Eliminamos errores de float */
}

header nav ul li{
    display:inline-block;
	color:#2c2c2c;
	text-decoration:none;
	padding:10px 20px;
	line-height:normal;
	font-size:20px;
	font-weight:bold;
	-webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
	transition:all 500ms ease;
}

header .logo{
    font-size:50px;
	line-height:200px;
	float:left;
}



.identidad{

	border-style: solid;
	border-width: thin;
	border-color: black;
	float: left;
	overflow: hidden;
	border-radius: 8%;
	margin-bottom: 4px;


}

.info_personal{
	border-bottom-style: solid;
	border-width: thin;
	border-color: #2c2c2c;
	display: inline-block;
	
}

.contactos{
	border-bottom-style: solid;
	border-width: thin;
	border-color: #2c2c2c;

}

.comunidad{
	border-style: solid;
	border-width: thin;
	border-color: black;
	overflow: hidden;
	border-radius: 8%;
	float: left;
	flex-direction: column;

}

.identidad > span {
	border-bottom-style: solid;
	border-width: thin;
	border-color: #2c2c2c;
}

.comunidad > span {
	border-top-style: solid;
	border-width: thin;
	border-color: #2c2c2c;
}
